@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(.85, .85, .85);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -15deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 5deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -15deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

////////////////////////////////////////
// Player                             //
////////////////////////////////////////

// Mobile first
.player {

  // variables

  margin-bottom: $bs;
  overflow: hidden;
  background-color: $col06;

  &,
  a {
    color: $col01;
    text-decoration: none;
  }

  &-container {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: ($bs * 6);
  }

  &-status {
    @include font01-bold();
    display: none;
  }

  &-suptitle {
    @include ttu();
    @include font01-bold(10px);
    display: block;
  }

  &-track {
    @include ttu();
    @include font01-regular(16px);
  }

  &-infos {
    min-height: 50px;
    margin-bottom: 10px;
  }

  &-what {
    @include font01-bold();
    display: block;
    margin-bottom: 10px;

    &:hover {
      color: darken($col01, 10%);
      transition: color .3s ease;
    }
  }

  &-social-link img {
    transform: scale3d(.85, .85, .85);
    transition: transform .3s ease;
  }

  &-social-link:hover img {
    transform: scale3d(1, 1, 1);
    transition: transform .3s ease;
  }

  &-social-link + &-social-link {
    margin-left: 10px;
  }


  ////////////////////////////////////////
  // SVG                                //
  ////////////////////////////////////////

  &-svg {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 110px;
    height: 110px;
    cursor: pointer;
  }

  &-svg:hover {
    .player-circle-01 {
      transform: scale(1.15);
      transition: all .6s ease;
    }

    .player-circle-02 {
      transform: scale(1.18);
      transition: all .6s ease;
    }

    .player-play-path {
      transition: fill .6s ease;

      fill: darken($col07, 5%);
    }
  }

  &-circle-01,
  &-circle-02,
  &-circle-03 {
    stroke: 0;
    transform-origin: 50px 50px;
  }

  &-circle-01 {
    transform: scale(1);
    transition: all .6s ease;

    fill: $col01;
  }

  &-circle-02 {
    transform: scale(1);
    transition: all .6s ease;

    fill: $col02;
  }

  &-circle-03 {
    fill: $col04;
  }

  &-play-path {
    // animation-delay: 3s;
    // animation-duration: 1.35s;
    // animation-name: tada;
    // animation-fill-mode: forwards;

    // transition: all .6s ease;

    transform-origin: 50%;

    fill: $col07;
  }

  &-pause {
    fill: $col07;
  }

  &-show {
    opacity: 1;
  }

  &-hide {
    opacity: 0;
  }
}

////////////////////////////////////////
// Tablet                             //
////////////////////////////////////////

@media (min-width: $screen-md-min) {
  .player {
    height: ($bs * 2.5);
    margin-bottom: ($bs * 2);

    &-container {
      padding-top: 0;
      padding-left: 15px;
    }

    &-status,
    &-svg,
    &-infos,
    &-what {
      float: left;
    }

    &-status {
      display: block;
      float: left;
      padding-top: 11px;
      padding-right: 9px;
      font-size: 20px;
      line-height: 27px;
    }

    &-track {
      display: block;
      max-width: 320px;
      overflow: hidden;
      line-height: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-svg {
      position: relative;
      top: -27px;
      float: left;
    }

    &-infos {
      float: left;
      margin-top: 8px;
      margin-left: 15px;
    }

    &-what {
      padding-left: 64px;
      margin-top: 16px;
    }

    &-social {
      position: absolute;
      top: 12px;
      right: 15px;
    }
  }
}

@media (min-width: $screen-lg) {
  .player {
    &-track {
      max-width: 460px;
    }
  }
}