article.podcast.podcast-list
  .podcast-title.
    Les derniers podcasts de l'émission
  - for(var i = 3; i > 0; i--) {
  .podcast-item
    button.podcast-item-control.podcast-item-play
    h3.podcast-item-title Queequeg was my own inseparable twin brother; nor could I any way get rid of the dangerous liabilities which the hempen bond entailed.
    p.podcast-item-text Texte résumé, lorem queequeg was my own inseparable twin brother; nor could I any way get rid of the dangerous liabilities which the hempen bond entailed.
    audio(src="http://www.universal-soundbank.com/802a/805020000000000000000000000pkjn800000000000000000000000000000090/g/85055050505050505050505/k/1817.mp3" controls).podcast-item-player
    a(href="#", title="Lien pour obtenir plus d'information sur ce podcast").podcast-item-more Plus d'infos et commentaires
    span.podcast-item-date 7 aout 2015 - 12h15
  - }