////////////////////////////////////////
// Podcast                            //
////////////////////////////////////////

.podcast-list {
  .podcast-item {
    padding-top: $bs;
    border-bottom: 1px solid $col02;
  }
}

.wavesurfer-region {
  position: relative;

  &:before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent $col06;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: '';
  }

  &:after {
    position: absolute;
    top: 0;
    left: -2px;
    width: 28px;
    height: 17px;
    font-size: 18px;
    line-height: 7px;
    letter-spacing: -.5px;
    color: $col01;
    text-align: center;
    cursor: pointer;
    background-color: $col06;
    border-radius: 3px;
    content: '...';
  }
}

.podcast {
  padding-top: 5px;
  margin-top: 60px;
  border-top: 4px solid $col06;

  &-item {
    position: relative;
    padding-bottom: ($bs / 2);
    margin-bottom: ($bs / 2);

    &-title {
      margin-bottom: 6px;
      font-size: 16px;
      line-height: 25px;
    }

    &-text {
      margin-bottom: 22px;
    }

    &-more {
      @include font01-bold(13px);
      font-size: 13px;
    }

    &-more,
    &-more:hover {
      color: $col07;
    }

    &-date {
      @include font01-bold(12px);
      position: absolute;
      top: 0;
      left: ($bs * 2.45);
      display: none;
      color: $col05;
    }

    &-player {
      display: block;
      width: 100%;
      margin-bottom: 4px;
    }

    &-control {
      position: absolute;
      top: 25px;
      left: 0;
      display: block;
      width: 35px;
      height: 35px;
      text-align: center;
      background-color: $col07;
      border: 0;
      border-radius: 100%;
    }

    &-control:after {
      position: absolute;
      top: 8px;
      right: 11px;
      display: inline-block;
      width: 12px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
    }

    &-control:focus {
      outline: none;
    }

    &-play:after {
      background-image: url('./images/play-white.svg');
    }

    &-pause:after {
      background-image: url('./images/pause-white.svg');
    }
  }

  &-title {
    @include font01-bold(24px);
    margin-bottom: 35px;
    line-height: 33px;
  }

  &-player {
    position: relative;
    padding-left: 54px;
    margin-bottom: ($bs * 2);

    &-list {
      height: 160px;
      padding-right: 7px;
      margin-top: ($bs / 2);
      overflow: scroll;
    }

    &-list::-webkit-scrollbar {
      width: 5px;
    }

    &-list::-webkit-scrollbar-thumb {
      background-color: $col02;
      outline: 1px solid $col02;
    }

    &-list-item {
      height: 54px;
      border-bottom: 1px solid $col02;
    }

    &-item-active &-list-title {
      font-weight: bold;
    }

    &-list-start {
      @include font01-bold(12px);
      display: inline-block;
      padding-top: 17px;
      color: $col05;
      vertical-align: top;
    }

    &-list-play {
      position: relative;
      top: inherit;
      left: inherit;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: 14px;
      vertical-align: top;
    }

    &-list-play:after {
      top: 4px;
      right: 6px;
      display: inline-block;
      width: 8px;
      height: 12px;
    }

    &-list-title {
      @include font01-regular(12px);
      display: inline-block;
      width: 70%;
      padding-top: 17px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
    }

    &-info {
      // background-color: red;
    }
  }
}

@media (min-width: $screen-md-min) {
  .podcast-list {
    .podcast-item {
      padding-top: 0;
      padding-right: ($bs * 6.5);

      &-date {
        right: 0;
        left: inherit;
        display: block;
      }
    }
  }

  .podcast {
    &-player {

      &-bloc {
        height: 160px;
      }

      &-list,
      &-info {
        display: inline-block;
        vertical-align: top;
      }

      &-list {
        width: 40%;
      }

      &-info {
        width: 58%;
        padding-top: 7px;
        padding-left: 30px;
      }
    }
  }
}
