div.breadcrumb
  a(href="#", title="Lien vers la page d'accueil d'euradionantes").breadcrumb-item Accueil
  a(href="#", title="Lien vers la page des actualitées").breadcrumb-item Actualités
  span.breadcrumb-item Les Lorem Ipsum en concert