{% extends 'ApplicationSonataPageBundle::layout.html.twig' %}

{% block page_content %}
<section class="content-main">
    <h1 class="content-title">Erreur 404 : Page introuvable</h1>
    <p>La page que vous recherchez n'existe pas ou n’est plus accessible.</p>
</section>
{% endblock %}
