{% extends 'ApplicationSonataPageBundle::layout.html.twig' %}

{% block page_content %}
<section class="content-main">
    <h1 class="content-title">Oups ! Une erreur s’est produite</h1>
    <p>Le serveur a retourné une erreur {{ status_code }} : « {{ status_text }} ».</p>
</section>
{% endblock %}
