section.comment
  h3.comment-title Vos 125 commentaires
  ul
    li
      article.comment-item
        .comment-info
          h4.comment-author Paul Legrand
          span.comment-date Lundi 15 mai 2016 15h25
        .comment-text
          p Brooklyn Neutra asymmetrical cred Carles raw denim. Cronut squid aesthetic, shabby chic iPhone organic chia messenger bag distillery McSweeney's literally bicycle rights Shoreditch put a bird on it. Cliche authentic drinking vinegar quinoa, stumptown chillwave Marfa leggings. 3 wolf moon kogi YOLO tilde Pinterest. Odd Future cronut aesthetic fixie, you probably haven't heard of them gluten-free listicle Tumblr.
      article.comment-item
        .comment-info
          h4.comment-author Paul Legrand
          span.comment-date Mercredi 15 mai 2016 15h25
        .comment-text
          p Brooklyn Neutra asymmetrical cred Carles raw denim. Cronut squid aesthetic, shabby chic iPhone organic chia messenger bag distillery McSweeney's literally bicycle rights Shoreditch put a bird on it. Cliche authentic drinking vinegar quinoa, stumptown chillwave Marfa leggings. 3 wolf moon kogi YOLO tilde Pinterest. Odd Future cronut aesthetic fixie, you probably haven't heard of them gluten-free listicle Tumblr.
      article.comment-item
        .comment-info
          h4.comment-author Paul Legrand
          span.comment-date Lundi 15 mai 2016 15h25
        .comment-text
          p Brooklyn Neutra asymmetrical cred Carles raw denim. Cronut squid aesthetic, shabby chic iPhone organic chia messenger bag distillery McSweeney's literally bicycle rights Shoreditch put a bird on it. Cliche authentic drinking vinegar quinoa, stumptown chillwave Marfa leggings. 3 wolf moon kogi YOLO tilde Pinterest. Odd Future cronut aesthetic fixie, you probably haven't heard of them gluten-free listicle Tumblr.
  button.comment-more La suite des commentaires
  h3.comment-title2 Commenter, réagir
  div.comment-message
    i.ico-info
    span Tous les champs sont obligatoires.
  form
    .comment-textarea
      label.comment-label Votre commentaire
      textarea(placeholder="Votre message ou commentaire")
    .comment-inputs
      .comment-input
        label.comment-label Votre nom ou pseudo
        input(type="text", placeholder="Angela M.")
      .comment-input
        label.comment-label Votre adresse email
        input(type="email", placeholder="angela@deutschland.de")
      .comment-input
        div(data-sitekey="6LeHx_4SAAAAAGmoCxyy9ZP6UOKWjwMk7BFssfuW").g-recaptcha
    input(type="submit", value="Envoyer votre commentaire").comment-submit
