////////////////////////////////////////
// Bloc content (actu/emission/podcast//                            //
////////////////////////////////////////

// Mobile first
.bloc-content {
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 25px;

  &-inner {
    background-color: $col01;
  }

  &-text {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
  }

  &-date,
  &-cat {
    @include font01-bold(12px);
    display: inline-block;
    margin-bottom: 10px;
    line-height: 17px;
  }

  &-cat {
    @include ttu();
    color: $col07;
  }

  &-date {
    margin-left: 4px;
    color: $col05;
  }

  &-title {
    @include font01-bold(18px);
    margin-bottom: 10px;
    line-height: 20px;
  }

  &-intro {
    margin-bottom: 0;
  }
}

@media (min-width: $screen-md-min) {
  .bloc-content {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
