article.bloc-newsletter
  h2.bloc-newsletter-title Euradionantes partout ailleurs
  .bloc-newsletter-text
    i.ico-newsletter
    p Recevez les infos et les <br>podcasts d'Euradionantes
    form.bloc-newsletter-field
      input(type="email", placeholder="Votre email").bloc-newsletter-email
      input(type="submit", value="Je m'abonne").bloc-newsletter-submit
    .bloc-newsletter-social
      include ../share/share-mini