////////////////////////////////////////
// Header                             //
////////////////////////////////////////

// Mobile first
.header {
  background-color: $col01;

  &-search {
    position: relative;
  }

  &-search-input {
    height: ($bs * 2);
    padding-right: ($bs * 2);
    text-indent: 8px;
    border: 1px solid $col04;
    border-radius: 3px;
    box-sizing: border-box !important; // scss-lint:disable ImportantRule

    &:focus {
      outline: none;
    }
  }

  &-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: ($bs * 2);
    background-color: transparent;
    background-image: url('./images/magnifier.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: $bs;
    border: 0;
  }

  &-link {
    @include ttu();
    @include font01-bold(16px);
    position: relative;
    color: $col06;
    transition: color .3s ease;
  }

  &-link:hover,
  &-link:focus {
    color: rgba($col06, .8);
    text-decoration: none;
    transition: color .3s ease;
  }

  &-link-has-children:after {
    position: absolute;
    top: 17px;
    right: $bs;
    width: 0;
    height: 0;
    border-color: $col06 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: '';
    transform: rotate(-90deg);
  }
}

// Mobile & tablet
@media (max-width: $screen-lg-min) {
  .header {
    @include clearfix();
    padding-top: 15px;
    text-align: center;

    // reset
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      list-style-type: none;
    }

    &-logo {
      float: left;
      margin-bottom: $bs;
    }

    ////////////////////////////////////////
    // Menu                               //
    ////////////////////////////////////////

    &-menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding-top: ($bs * 8);
      overflow: hidden;
      text-align: left;
      background-color: $col01;
      animation-duration: .01s;
      animation-name: slideOutRight;
      animation-fill-mode: forwards;
    }

    &-menu-button {
      position: fixed;
      top: ($bs / 2);
      right: 9px;
      z-index: 2;
      background-color: transparent;
      border: 0;
      outline: 0;

      svg line {
        opacity: 1;
        transform: rotate(0deg);
        transition: transform .5s ease;

        transform-origin: top left;

        stroke: $col07;
        stroke-width: 2px;
      }
    }

    // animation hamburger to cross
    &-menu-opened {
      $besier: cubic-bezier(.215, .610, .355, 1);
      $duration: .3s;
      overflow-y: hidden;

      .line-01 {
        transform: rotate(45deg);
        transition: transform $duration $besier;

        transform-origin: center left;
      }

      .line-02 {
        opacity: 0;
        transition: opacity ($duration / 2);
      }

      .line-03 {
        transform: rotate(-45deg);
        transition: transform $duration $besier;

        transform-origin: center left;
      }
    }

    &-menu-back {
      @include font01-bold();
      @include ttu();
      position: fixed;
      top: ($bs * 6);
      right: $bs;
      z-index: 2;
      height: ($bs * 1.5);
      padding: 0 ($bs / 2);
      color: $col01;
      background-color: $col07;
      border: 0;
      outline: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity .4s cubic-bezier(.215, .610, .355, 1);

      &-show {
        opacity: 1;
        visibility: visible;
        transition: opacity .4s cubic-bezier(.215, .610, .355, 1);
      }
    }

    &-menu-show {
      animation-duration: .5s;
      animation-name: slideInRight;
      animation-fill-mode: forwards;
    }

    &-menu-hide {
      animation-duration: .5s;
      animation-name: slideOutRight;
      animation-fill-mode: forwards;
    }

    &-level2 {
      transform: translateX(-50%);
      transition: all .3s ease-in-out;
    }

    // bouhhh :(
    // scss-lint:disable MergeableSelector QualifyingElement
    ul.header-level2-show {
      opacity: 1;
    }

    // scss-lint:disable SelectorDepth MergeableSelector
    ul > li > ul {
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      transform: translateX(50%);
      transition: all .3s ease-in-out;
    }

    &-items {
      position: relative;
      display: block;
      width: 200%;
      transition: all .3s ease-in-out;
    }

    &-link {
      display: block;
      width: 50%;
      padding: 0 $bs;
      line-height: ($bs * 2);
    }

    ////////////////////////////////////////
    // Seach block                        //
    ////////////////////////////////////////

    &-search {
      position: absolute;
      top: ($bs * 3);
      right: $bs;
      left: $bs;
    }

    &-search-input {
      width: 100%;
    }
  }
}


@media (min-width: $screen-lg-min) {
  .header {
    @include clearfix();

    $besier: cubic-bezier(.215, .610, .355, 1);
    $duration: .3s;

    &-menu-button,
    &-menu-back {
      display: none;
    }

    &-logo,
    &-menu-nav {
      float: left;
    }

    &-logo {
      padding-top: 8px;
      padding-bottom: 16px;
    }

    ////////////////////////////////////////
    // Menu                               //
    ////////////////////////////////////////

    &-menu-nav {
      padding-top: 43px;
    }

    &-menu {
      @include clearfix();
    }

    &-items {
      li {
        display: inline-block;
      }

      // scss-lint:disable MergeableSelector
      li + li {
        margin-left: ($bs * 1.5);
      }
    }

    &-link-has-children:after {
      top: 9px;
      right: -15px;
      content: '';
      transform: rotate(0deg);
    }

    ul > li {
      position: relative;
    }

    &-menu-level2 {
      position: absolute;
      top: 30px;
      width: 190px;
      padding: 15px 20px;
      background-color: $col01;
      // border: 1px solid lighten($col04, 15%);
      border-radius: 3px;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 6px 15px -6px $col03;
      transition: all $duration $besier;

      li + li {
        margin-left: 0;
      }

      // scss-lint:disable MergeableSelector
      li {
        display: block;
        line-height: 30px;
      }

      // &:before,
      // &:after {
      //   position: absolute;
      //   top: -5px;
      //   width: 0;
      //   height: 0;
      //   border-color: transparent transparent $col04;
      //   border-style: solid;
      //   border-width: 0 5px 5px;
      //   content: '';
      // }

      // &:after {
      //   top: -4px;
      //   border-color: transparent transparent $col01 transparent;
      // }
    }

    &-level2-show {
      opacity: 1;
      visibility: visible;
      transition: all $duration $besier;
    }

    ////////////////////////////////////////
    // Search block                       //
    ////////////////////////////////////////

    &-search {
      float: right;
      width: 195px;
      margin-top: 38px;
    }

    &-search-input {
      width: 100%;
      height: ($bs * 1.5);
    }

    &-search-submit {
      background-size: 17px;

      &:focus {
        outline: 0;
      }
    }
  }
}
