div(data-clickable="true").author
  img(src="//unsplash.it/50x50", alt="").author-img
  div.author-text
    div.author-sup Rédiger par
    a(href="#", data-clickable-target="true", title="Lien vers les articles de Paul Legrand").author-title Paul Legrand