<div class="share-mini">
  <div class="share-buttons">
    <a href="https://twitter.com/euradionantes" title="Euradionantes sur Twitter" class="share-twitter" target="_blank"><img src="{{ asset('/assets/images/twitter.svg') }}" alt="Icone Twitter"></a>
    <a href="https://www.facebook.com/pages/EuradioNantes/119060581473600" title="Euradionantes sur Facebook" class="share-facebook" target="_blank"><img src="{{ asset('/assets/images/facebook.svg') }}" alt="Icone Facebook"></a>
    <a href="https://plus.google.com/104061818216863002695" title="Euradionantes sur Google" class="share-google" target="_blank"><img src="{{ asset('/assets/images/google.svg') }}" alt="Icone Google+"></a>
    <a href="https://www.flickr.com/photos/euradionantes" title="Euradionantes sur Flickr" class="share-flickr" target="_blank"><img src="{{ asset('/assets/images/flickr.svg') }}" alt="Icone Flickr"></a>
  </div>
</div>
