<div class="share"><span class="share-title">Partager cet article</span>
  <div class="share-buttons">
    <a href="#" title="partager sur twitter" class="share-twitter"><img src="{{ asset('/assets/images/twitter.svg') }}" alt="Icone twitter"></a>
    <a href="#" title="partager sur facebook" class="share-facebook"><img src="{{ asset('/assets/images/facebook.svg') }}" alt="Icone facebook"></a>
    <a href="#" title="partager sur google" class="share-google"><img src="{{ asset('/assets/images/google.svg') }}" alt="Icone google+"></a>
  </div>
  <div class="share-aside">
    <div>Envoyer cet article</div><a href="" title="" class="share-aside-link">euradionantes.eu/art123</a>
  </div>
</div>
