# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     euradionantes2015
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"
    locale: fr
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    contact_address: mail@localhost

    recaptcha_public_key:  your_recaptcha_public_key
    recaptcha_private_key:  your_recaptcha_private_key

    amazon_ws_api_key: AKIAI...
    amazon_ws_api_secret_key: 0s3Pp...
    amazon_ws_api_associate_tag: euradionantes...
    nowPlayingUrl: http://www.euradionantes.eu/uploads/onair/now_playing.txt
    liveStreamUrl: http://80.82.229.202:80/euradio.mp3
    mailchimp_api_key: xxxxxxxxx
    mailchimp_default_list: xxxxxxxx

    google_search_cx: 009530823814786353114:4rwpfku8hou

    bitly_username: your_bitly_username
    bitly_password: your_bitly_password
