div.share-embed
  span.share-title Partager cet article
  .share-buttons
    a(href="#", title="partager sur twitter").share-twitter
      img(src="./assets/images/twitter.svg", alt="Icone twitter")
    a(href="#", title="partager sur facebook").share-facebook
      img(src="./assets/images/facebook.svg", alt="Icone facebook")
    a(href="#", title="partager sur google").share-google
      img(src="./assets/images/google.svg", alt="Icone google+")
    a(href="#", title="partager sur google").share-embeded
      img(src="./assets/images/embed.svg", alt="Icone code embed")
    a(href="#", title="partager sur google").share-download
      img(src="./assets/images/download.svg", alt="Icone téléchargement")
  .share-aside
    div Envoyer cet article
    a(href="", title="").share-aside-link euradionantes.eu/art123
  .share-embed-inner
    span.share-embed-title Copiez collez ce code
    input(type="text", value="<iframe width=\"420\" height=\"315\" src=\"https://www.euradionantes.com/embed/p").share-embed-input