div.share-mini
  .share-buttons
    a(href="#", title="partager sur twitter").share-twitter
      img(src="./assets/images/twitter.svg", alt="Icone twitter")
    a(href="#", title="partager sur facebook").share-facebook
      img(src="./assets/images/facebook.svg", alt="Icone facebook")
    a(href="#", title="partager sur google").share-google
      img(src="./assets/images/google.svg", alt="Icone google+")
    a(href="#", title="partager sur flickr").share-flickr
      img(src="./assets/images/flickr.svg", alt="Icone flickr")