////////////////////////////////////////
// Custom reset                       //
////////////////////////////////////////

// menu mobile
body {
  overflow-x: hidden;
  background-color: $col02;
}

// remove margin top of heading
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
}

h1,
.h1 {
  margin-bottom: 26px;
}

h2,
.h2 {
  margin-bottom: $bs;
  line-height: 33px;
}

.chapo {
  font-weight: 700;
}

p,
blockquote {
  margin-bottom: ($bs * 2);
}

blockquote {
  font-family: Georgia, arial, serif;
  font-size: 16px;
  font-style: italic;
  line-height: 25px;
}

////////////////////////////////////////
// Form/input stuffs                  //
////////////////////////////////////////

input {
  @include font01-bold();
  color: $col06;
}

::-webkit-input-placeholder {
  color: $col04;
}

// scss-lint:disable VendorPrefix
:-moz-placeholder {
  color: $col04;
}

::-moz-placeholder {
  color: $col04;
}

:-ms-input-placeholder {
  color: $col04;
}

////////////////////////////////////////
// misc                               //
////////////////////////////////////////

[data-clickable="true"] {
  cursor: pointer;
}
