			<div class="on-air">
				<a  href="/ecoute" onclick="window.open(this.href,'Window title','width=1010,height=495,left=320,top=445');return false;" >
				
				<div class="player-bt">
					<span class="title">
					En direct<br/> 
						<marquee scrollamount="2">{% for onair  in onairs %}{{ onair }}{% endfor %}</marquee>
					</span>
				 </div>
				</a> 

						<!-- 
				<span class="title">Indian Summer</span>
				<span class="subtitle">Chicha Libre</span>
				-->
				
				</a>
			</div> <!-- .on-air -->