////////////////////////////////////////
// Pagination                         //
////////////////////////////////////////

.pagination {
  @include make-xs-column(12);
  @include make-md-column(9);
  @include font01-bold(16px);
  position: relative;
  max-width: 850px;
  padding: 18px 21px;
  margin-bottom: $bs;
  background-color: $col01;

  &-links {
    display: block;
    width: 100px;
    padding-left: 0;
    margin: 0 auto;
  }

  &-link {
    display: inline-block;
    list-style-type: none;

    a {
      color: $col07;
    }
  }

  &-link-active a {
    color: $col06;
  }

  &-prev,
  &-next {
    position: absolute;
    top: 18px;
    color: $col07;
  }

  &-prev {
    left: 21px;
  }

  &-next {
    right: 21px;
  }
}
