footer.footer
  .container
    a(href="/", title="Lien vers la page d'accueil d'Euradionantes")
      img(src="./assets/images/logo-footer.svg", alt="logo d'Euradionantes").footer-logo
    ul
      li
        a(href="contact.html", title="lien vers la page de contact").footer-link Contact
      li
        a(href="plan-du-site.html", title="lien vers la page plan du site").footer-link Plan du site
      li
        a(href="credits.html", title="lien vers la page de crédits").footer-link Crédits
      li
        a(href="partenaires.html", title="lien vers la page des partenaires").footer-link Partenaires
      li
        a(href="mentions-legales.html", title="lien vers la page des mentions légales").footer-link Mentions légales
      li
        a(href="soutenir.html", title="lien vers la page soutenir Euradio").footer-link Soutenir Euradionantes