{# src/RadioSolution/PodcastBundle/Resources/views/Form/podcast_player.html.twig #}
{% block podcast_player_widget %}
    {# dump(form) #}
    {% set media = form.parent.children.filePodcast.vars.sonata_admin.value %}
    {% if media is not null %}
        {# dump(media) #}
        <audio controls="controls">
            <source src="{% path media, 'reference' %}.ogg" type="audio/ogg" />
            <source src="{% path media, 'reference' %}" type="audio/mp3" />
            <a href="{% path media, 'reference' %}" target="_blank"><img src="{% path media, 'small' %}" /></a>
        </audio>
    {% else %}
        <em>{{ 'Veuillez enregistrer un Podcast pour afficher le lecteur'|trans }}</em>
    {% endif %}
{% endblock %}
