extends ./bases/default

block content
  .content.container
    section.content-main
      include ./breadcrumb/breadcrumb
      span.bloc-content-cat Culture
      span.bloc-content-date 15 juillet 2015
      h1.content-title Les Lorem ipsum en concert <br>à bruxelles
      figure.content-img
        img(src="//placehold.it/850x510" srcset="//placehold.it/450x270 480w, //placehold.it/850x510 1900w", alt="Image de l'article").bloc-content-img.img-responsive
      p.chapo.
        Small batch mumblecore bicycle rights mustache, single-origin coffee Bushwick twee kogi YOLO pickled. Aesthetic sartorial Wes Anderson farm-to-table church-key. Cronut American Apparel vegan seitan bitters, hoodie mlkshk whatever mustache Carles.
      p.
        Street art Blue Bottle aesthetic +1. Pug pickled Banksy post-ironic fixie biodiesel, High Life leggings. Ethical lumbersexual raw denim, mustache distillery organic Truffaut flexitarian DIY. Polaroid taxidermy crucifix, put a bird on it banjo Brooklyn Neutra asymmetrical cred Carles raw denim. Cronut squid aesthetic, shabby chic iPhone organic chia messenger bag distillery McSweeney's literally bicycle rights Shoreditch put a bird on it. Cliche authentic drinking vinegar quinoa, stumptown chillwave Marfa leggings. 3 wolf moon kogi YOLO tilde Pinterest. Odd Future cronut aesthetic fixie, you probably haven't heard of them gluten-free listicle Tumblr.
      blockquote.
        Art party ugh Pinterest street art Banksy. Tousled yr Portland, pickled cred cornhole narwhal swag Carles pour-over forage Banksy Godard mumblecore kale chips. You probably haven't heard of them before they sold out fanny pack hella.
      h2 Flexitarian wayfarers viral typewriter hashtag
      p.
        Meh selvage distillery hoodie 8-bit, High Life drinking vinegar. 8-bit PBR&B lo-fi vegan deep v, Blue Bottle cold-pressed Etsy +1 single-origin coffee bicycle rights banjo gentrify locavore. Distillery Marfa asymmetrical meh seitan, Echo Park banjo tilde synth chambray tattooed jean shorts. Irony whatever food truck, 8-bit try-hard cray skateboard actually keytar a Apparel organic chambray iPhone vinyl. Ethical blog art party, umami brunch Godard meggings wayfarers semiotics synth. +1 gastropub fap, listicle yr Brooklyn single-origin coffee Intelligentsia blog High Life aesthetic pug Williamsburg slow-carb. Shabby chic aesthetic seitan dreamcatcher Portland Kickstarter, cold-pressed Pinterest direct trade hella swag art party cliche crucifix disrupt.
      h2 High Life drinking vinega
      p Lomo tousled tilde, four dollar toast fap letterpress you probably haven't heard of them beard bespoke Brooklyn cliche. Freegan brunch Schlitz, organic beard Shoreditch readymade bicycle rights XOXO polaroid pour-over tote bag pop-up. Craft beer bespoke literally cliche butcher bicycle rights, brunch heirloom banjo artisan narwhal Truffaut post-ironic. Fixie meh cray bitters, skateboard jean shorts migas Brooklyn High Life farm-to-table hella salvia direct trade. Photo booth beard art party, bespoke cronut typewriter next level. Pop-up tofu Williamsburg deep v Banksy Pitchfork, heirloom plaid banjo Carles keytar jean shorts fanny pack hella fashion axe.
      p Locavore Schlitz chillwave PBR&B McSweeney's, meditation 90's Banksy. Pitchfork lomo sartorial, YOLO kitsch normcore Marfa listicle selvage gastropub wayfarers literally salvia. Truffaut narwhal squid mlkshk try-hard. Vinyl fashion axe Portland mlkshk. Echo Park before they sold out Blue Bottle roof party American Apparel, Thundercats typewriter heirloom cliche. Single-origin coffee Portland pork belly stumptown Bushwick direct trade. DIY kitsch bicycle rights plaid. Fixie meh cray bitters, skateboard jean shorts migas Brooklyn High Life farm-to-table hella salvia direct trade. Photo booth beard art party, bespoke cronut typewriter next level. Pop-up tofu Williamsburg deep v Banksy Pitchfork, heirloom plaid banjo Carles keytar jean shorts fanny pack hella fashion axe. Fixie meh cray bitters, skateboard jean shorts migas Brooklyn High Life farm-to-table hella salvia direc.
      include ./author/author
      include ./share/share
      include ./comment/comment
    include ./sidebar/sidebar
    include ./bottom/bottom
    