extends ./bases/default

block content
  .actu.container
    .actu-main
      article(data-clickable="true").bloc-content.bloc-content-first
        .bloc-content-inner
          figure
            img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
          div.bloc-content-text
            span.bloc-content-cat Culture
            span.bloc-content-date 15 juillet 2015
            h1.bloc-content-title 
              a(href="#", data-clickable-target="true", title="Lien vers l'article") Les Lorem ispum en concert à Bruxelles
            p.bloc-content-intro.
              Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio.
      .actu-col01
        a(href="#", title="liens vers la page toutes les actualitées").actu-btn-more Toutes les actus
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 15 juillet 2015
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
              p.bloc-content-intro.
                Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi. Nullam vehicula nisi velit. Mauris turpis nisl, molestie ut ipsum et, suscipit vehicula odio.
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 15 juillet 2015
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") Sur la plage abandonnée
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 15 juillet 2015
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
    .actu-side
      .actu-col02
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 12/08
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 12/08
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 12/08
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure
              img(src="//placehold.it/570x312/D32354/FFFFFF", alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date 12/08
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
      .actu-col03
        article(data-clickable="true").bloc-mini
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-mini.bloc-podcast
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-mini.bloc-podcast
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-mini
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-mini
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-mini.bloc-podcast
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange, Bleu Blue
        article(data-clickable="true").bloc-mini.bloc-podcast
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
        article(data-clickable="true").bloc-mini
          .bloc-mini-inner
            div.bloc-mini-text
              span.bloc-mini-cat Culture
              span.bloc-mini-date 12/08
              h2.bloc-mini-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
