extends ./bases/default

block content
  .content.container
    section.actu-list
      include ./breadcrumb/breadcrumb
      h1.actu-list-title Les émissions de A à Z
      include ./filter/filter
      section.list
        - for(var i = 5; i > 0; i--) {
        article(data-clickable="true").bloc-content
          .bloc-content-inner
            figure.bloc-content-figure
              img(src="//lorempixel.com/570/312", srcset="//lorempixel.com/450/246 480w, //lorempixel.com/570/312 992w, //lorempixel.com/300/165 1900w" alt="Image de l'article").bloc-content-img.img-responsive
            div.bloc-content-text
              span.bloc-content-cat Culture
              span.bloc-content-date Quotidienne
              h2.bloc-content-title 
                a(href="#", data-clickable-target="true", title="Lien vers l'article") The Feather, Jaune Orange
              p Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. Curabitur at vestibulum nisi.
        - }
      include ./pagination/pagination
    include ./sidebar/sidebar
    